@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
  --mainColor: #29335C;
  --mainColorLight: #5767aa;
  --secondaryColor: #DB2B39;
  --textColor:#eee;
}



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto",sans-serif;
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  padding: 0 2rem;
  background-color: var(--mainColor);
  color: var(--textColor);
}

.anchor{
  margin: 0 2px;
  color: var(--textColor);
  text-decoration: none;
}

.anchor:hover{
  color: var(--secondaryColor);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
